{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Auctions</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link btn btn-outline-success text-success mr-2" href="{% url 'index' %}">All Active Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success text-success" href="{% url 'watchlist' %}">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success text-success ml-2" href="{% url 'category_list' %}">Categories</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <form class="form-inline my-2 my-lg-0" action="{% url 'create_listing' %}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create Listing</button>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-success text-success" href="{% url 'logout' %}">Log Out</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-success text-success mr-2" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-success text-success" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <hr>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
